{% extends "base.html" %}
{% block content %}
  <h1>Hello Cloud!</h1>
  <p>Current time of day on Heroku instance: {{ time }}</p>
  <p>Current temp in Corvallis: {{ weather.current_observation.temp_f }}</p>
  <p>Current weather in Corvallis: {{ weather.current_observation.weather}}</p>
  <p>Current forecast for today in Corvallis: {{ weather.forecast.txt_forecast.forecastday[0].fcttext }}</p>
  <img src="https://icons.wxug.com/logos/JPG/wundergroundLogo_4c_horz.jpg">
  <footer><em>All weather data gathered from Weather Underground API</em></footer>
{% endblock %}
