{% extends "base.html" %}
{% block page_header %}
  <div class="page-header">
    <h1>Student Survey</h1>
  </div>
{% endblock %}
{% block content %}
  <form id="studentSurvey">
    First name:<br />
    <input class="firstname" type="text" name="firstname" autofocus required /><br /><br />
    Last name:<br />
    <input class="lastname" type="text" name="lastname" required /><br /><br />
    Sex:<br />
    <input class="sex" type="radio" name="sex" value="Male" checked/> Male<br />
    <input class="sex" type="radio" name="sex" value="Female" /> Female<br />
    <input class="sex" type="radio" name="sex" value="Other" /> Other<br /><br />
    Birthday:<br />
    <input class="birthday" type="date" name="birthday" required /><br /><br />
    Email:<br />
    <input class="email" type="email" name="email" required /><br /><br />
    Social Media:<br />
    <input id = "facebook" class="socialmedia" type="checkbox"
      name="socialmedia" value="Facebook" />Facebook<br />
    <input id="twitter" class="socialmedia" type="checkbox"
      name="socialmedia" value="Twitter" />Twitter<br />
    <input id="linkedin" class="socialmedia" type="checkbox"
      name="socialmedia" value="Linkedin" />Linkedin<br />
    <input id="tumblr" class="socialmedia" type="checkbox"
      name="socialmedia" value="Tumblr" />Tumblr<br />
    <input id="instagram" class="socialmedia" type="checkbox"
      name="socialmedia" value="Instagram" />Instagram<br />
    <input id="reddit" class="socialmedia" type="checkbox"
      name="socialmedia" value="Reddit" />Reddit<br /><br />
    {{ form.csrf_token }}
    <input class="submit" type="submit" value="Submit" />
  </form>
{% endblock %}
{% block js_footer %}
  <script type="text/javascript"
    src="{{ url_for('static', filename='js/forms.js') }}"></script>
  <script type="text/javascript"
    src="{{ url_for('static', filename='js/survey.js') }}"></script>
{% endblock %}
