{% extends "base.html" %}
{% block page_header %}
  <div class="page-header">
    <h1>Survey Results</h1>
  </div>
{% endblock %}
{% block content %}
  {% for document in documents %}
    <p>
      First Name: {{ document.firstname }}
    </p>
    <p>
      Last Name: {{ document.lastname }}
    </p>
    <p>
      Sex: {{ document.sex }}
    </p>
    <p>
      Birthday: {{ document.birthday.strftime('%m-%d-%Y') }}
    </p>
    <p>
      Email: {{ document.email }}
    </p>
    <p>
      Social Media: {{ document.socialmedia|join(', ') }}
    </p>
    <a class="editLink" href={{ "surveyResults/" ~ document.id }}>Edit</a><br /><br />
  {% endfor %}
{% endblock %}
{% block js_footer %}
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
{% endblock %}
