<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herokuapp.secret_bastion_27250.adventureguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herokuapp.secret_bastion_27250.adventureguide.MainActivity" />
        </activity>
        <activity android:name=".CreateNewAccount"
            android:label="@string/title_activity_create_new_account"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herokuapp.secret_bastion_27250.adventureguide.MainActivity" />
        </activity>
        <activity android:name=".ViewMajorAttractions"
            android:label="@string/title_activity_view_major_attractions"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herokuapp.secret_bastion_27250.adventureguide.MainActivity" />
        </activity>
        <activity android:name=".ViewMajorAttraction"
            android:label="ViewMajorAttraction"
            android:parentActivityName=".ViewMajorAttractions" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herokuapp.secret_bastion_27250.adventureguide.ViewMajorAttractions" />
        </activity>
        <activity android:name=".ViewCredentials"
            android:label="ViewCredentials"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="andriod.support.PARENT_ACTIVITY"
                android:value="com.herokuapp.secret_bastion_27250.adventureguide.ViewCredentials" />
        </activity>
        <activity android:name=".ViewReviews"
            android:label="ViewReviews"
            android:parentActivityName=".ViewMajorAttraction" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herokuapp.secret_bastion_27250.adventureguide.ViewReviews" />
        </activity>
        <activity android:name=".ViewReview"
            android:label="ViewReview"
            android:parentActivityName=".ViewReviews" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herokuapp.secret_bastion_27250.adventureguide.ViewReview" />
        </activity>
        <activity android:name=".EditReview"
            android:label="EditReview"
            android:parentActivityName=".ViewReview" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herokuapp.secret_bastion_27250.adventureguide.EditReview" />
        </activity>
        <activity android:name=".WriteReview"
            android:label="WriteReview"
            android:parentActivityName=".ViewMajorAttraction" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herokuapp.secret_bastion_27250.adventureguide.WriteReview" />
        </activity>


    </application>

</manifest>